/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fdfaf4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.appointment-button {
    background-color: #a00000;
    color: #ffffff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container {
    max-width: 800px;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.branch-locations .branch {
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.branch-locations h3 {
    color: #333;
}

.branch-locations ul {
    list-style: none;
    padding: 0;
}

.branch-locations li {
    margin-bottom: 0.5em;
}
